.menu-bar, .context-menu {
    -fx-background-color: #2E3440;
}

.menu-item, .label, .tab-label  {
    -fx-text-fill: #ECEFF4;
    -fx-padding: 0.3em;
}

.menu-item {
    -fx-padding: 4 70 4 4;
}

.menu-item:focused, .menu:hover {
    -fx-background-color: #495165;
}

.tab-header-background, .tab  {
    -fx-background-color: #3B4252;
}

.tab-pane {
    -color-tab-bg-selected: #2E3440;
    -color-tab-fg-selected: #ECEFF4;
}

.current-tab {
    -fx-border-color: #8694b6;
    -fx-border-radius: 6 6 0 0;
    -fx-border-width: 2px;
}

.focus-indicator {
    -fx-border-color: none;
}
